@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme{
    --color-primary-light:#b173ea;
    --color-primary-dark:#e29226;
    --breakpoint-xs: 15rem;  
    --breakpoint-2xl: 100rem;  
    --breakpoint-3xl: 120rem;
}
@layer base{
    h1{
        @apply text-gray-950 font-medium lg:font-extrabold md:font-extrabold
    }
    nav{
        @apply bg-primary-light dark:bg-primary-dark sticky top-0 min-w-screen
    }
    div{
        @apply flex  m-auto
    }
    h3{
        @apply text-center font-bold md:text-xl md:my-0.5
    }
    h4{
        @apply text-center font-black md:text-xl
    }
    h5{
        @apply font-black
    }
    p{
        @apply p-4 text-justify
    }
    span{
        @apply font-bold
    }
    figure{
        @apply box-content mx-8 p-8 lg:box-border
    }
    form{
        @apply ml-14
    }
    input{
        @apply text-center w-9/10 h-7
    }
}

.level{
    @apply min-h-screen block p-3 lg:p-8 md:p-8 bg-primary-dark dark:bg-primary-light text-black 
}
#level-1{
    @apply sticky top-0
}
#level-2{
    @apply sticky top-0
}
#level-2 div{
    @apply justify-around lg:-m-2 lg:-mb-1.5 lg:mr-0.5
}
#level-2 div p{
    @apply w-2xs lg:w-96 lg:text-lg md:text-xs md:w-96 items-end md:max-w-60
}
#level-3{
    @apply text-xs lg:text-xl md:text-xs sticky top-0 
}
#level-4{
    @apply text-xs md:text-[xs] lg:text-xl sticky top-0
}
#level-5{
    @apply sticky top-0
}
#form{
    @apply flex-col my-3 mx-auto px-1 md:my-10 bg-primary-light dark:bg-primary-dark lg:w-1/2 md:w-1/2 rounded-2xl
}
.headline{
    @apply bg-primary-light dark:bg-primary-dark text-white font-bold text-xs lg:text-3xl p-4 drop-shadow-lg min-h-2.5 min-w-full text-center
}
.btn{
    @apply contrast-100 justify-between items-end m-auto bg-primary-light dark:bg-primary-dark text-white font-normal lg:font-semibold md:font-semibold rounded-lg border-2 border-white h-16 max-w-[1/4] min-w-[1/1] md:min-w-min transition-all duration-60 
}
/* contrast-100 added to btn class in order to eliminate contrast errors that I detected using Wave Evaluation Tool extension */
.btn:hover{
    @apply border-[#f5f5f5] active:bg-[#7036a2] shadow-md brightness-125 rounded-full scale-90
}
.form-btn{
    @apply mr-8
}
.btn-2{
    @apply block m-auto bg-primary-dark dark:bg-primary-light text-black font-semibold py-2 px-4 rounded-lg border-2 border-black h-1/2 w-3/8 lg:w-1/4 md:w-2/4 transition-all duration-60 
}
.btn-2:hover{
    @apply border-[#694414] active:bg-[#b67c31] shadow-md brightness-125 rounded-full scale-90
}